<!-- mark_attendance.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <h5 class="card-header">Attendance of Class {{ user.tclass }} Students</h5>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" class="form-control" id="date" name="date" required>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Student Pic</th>
                                        <th>Student Name</th>
                                        <th>Attendance Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                    <tr>
                                        <td><div class="flex-shrink-0 me-3">
                                            <div class="avatar">
                                              <img src="{{student.pic.url}}" alt class="w-px-40 h-auto rounded-circle" />
                                            </div>
                                          </div></td>
                                        <td>{{ student.name }}</td>
                                        
                                        <td>
                                            
                                            <input type="radio" name="attendance[{{ student.username }}]" value="True"> Present
                                            <input type="radio" name="attendance[{{ student.username }}]" value="False"> Absent
                                        </td>
                                    </tr>

                                    {%empty%}
                                    <tr>
                                        <th>No Students in Class {{user.tclass}}</th>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Submit Attendance</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
