{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4">
        <h5 class="card-header">Post Query</h5>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Your Queries</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Query ID</th>
                                    <th>Student</th>
                                    <th>Question</th>
                                    <th>Date Created</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in queries %}
                                <tr>
                                    <td>{{ query.id }}</td>
                                    <td>{{ query.student.name }}</td>
                                    <td>{{ query.question }}</td>
                                    <td>{{ query.created }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No queries found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
