{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4">
        <div class="card-header">
            <h2>Subjects List for Class {{subjects.0.subclass}}</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Subject Name</th>
                            <th>Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subject in subjects %}
                        <tr>
                            <td>{{ subject.name }}</td>
                            <td>{{ subject.subclass}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2">No subjects found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
