{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Your Salaries</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Amount Paid</th>
                                    <th>Amount Due</th>
                                    <th>Date Paid</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for salary in salaries %}
                                <tr>
                                    <td>{{ salary.teacher.name }}</td>
                                    <td>₹{{ salary.amount }}</td>
                                    <td>₹{{ salary.paid }}</td>
                                    <td>₹{{salary.due}}</td>
                                    <td>{{ salary.updated }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
