{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Notices for Class {{ notices.0.ofclass }}</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Exam Name</th>
                                    <th>Exam Date</th>
                                    <th>Exam Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for notice in notices %}
                                <tr>
                                    <td>{{ notice.examname }}</td>
                                    <td>{{ notice.examdate }}</td>
                                    <td>{{ notice.examtime }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
